@model REPLSolutions.Web.ViewModels.ClassAndSectionListViewModel
@{
    ViewBag.Title = "AddAttendanceFor";
}

<h2>AddAttendanceFor</h2>

<h3>Class Id -@Model.ClassAndSectionViewModel.classId</h3>
<h3>Section  Id -@Model.ClassAndSectionViewModel.sectionId</h3>
<h3>Classes -@Model.classes</h3>
<h3>Sections -@Model.sections</h3>
<h3>Sections -@Model.ClassAndSectionViewModel.attendanceDate</h3>



