body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


label {
    color: #438EB9 ;
    font-weight: 400;
    font-size: 14px;
}

button {
   color: #337ab7
}



.btn {
    border: 0px solid transparent;
    border-radius: 0px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}

.btn-primary, .btn-primary.focus, .btn-primary:focus {
    background-color: #428BCA !important;
    border-color: #428BCA;
}

.btn-primary, .btn-primary.focus, .btn-primary:focus {
    background-color: #428BCA !important;
    border-color: #428BCA;
}

.navbarHeader {
    background-color: #438EB9;
}

/*.navbar-inverse {
    background-color: #438EB9;
    border-color: #438EB9;
}*/


     .navbar-nav > li > a {
        color: #FFFFFF !important;
    }

.navbar-inverse {
    color: #FFFFFF;
    background-color: #438EB9 ;
    border-color: #080808;
}
    .navbar-inverse .navbar-brand {
        color: #ffffff ;
    }